<html>
    <head>
        <title>Teste</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        <h1>Teste</h1>
        {% if user %}
        <p>Bem vindo ao teste, {{ user }}</p>
        {% else %}
        <p>Bem vindo ao teste</p>
        {% endif %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename="js/bootstrap.min.js")}}"></script>
    </body>
</html>